<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/"><img src="/img/logo1.jpg" alt="logo">
    <div class="logo-text"><p class="p-logo-text">{{ site.description }}</p></div>
  </a>
  <div class="nav-bar">
    <nav class="navbar">
      <ul>
        <li class="nav-item"><a href="{{ site.baseurl }}/">Главная</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/about/">О проекте</a></li>
      </ul>
    </nav>
    <div class="search-person"><input class="search-field" placeholder="Введите имя..." /></div>
  </div>
</header>