{% capture posts %}
  {% for post in site.posts %}
    |{{ post.title }}#{{ post.url }}#{{ post.preview }}#{{ post.yearslife }}
  {% endfor %}
{% endcapture %}
{% assign sortedposts = posts | split: '|' | sort %}
{% for post in sortedposts offset:1 %}
    {% assign postitems = post | split: '#' %}
    {% cycle 'add row' : '<div class="row">', '', '', '' %}
        <div class="column column-25">
            <div class="preview-panel">
                <a href="{{ postitems[1] | prepend: site.baseurl }}">
                    <img src="{{ postitems[2] }}">
                    <div class="post-title">{{ postitems[0] }} <br /> {{ postitems[3] }}</div>
                </a>
           </div>
        </div>
    {% cycle 'end row' : '', '', '', '</div>' %}
{% endfor %}
{% cycle 'end row' : '', '', '</div>', '</div>' %}
{% cycle 'end row' : '', '</div>', '</div>' %}