/**
 * Site header
 */

 body {
     /*background-color: #CCCCCC;*/
     background: url(/img/background2.jpg) no-repeat fixed;
     background-size: 100%; 
     margin: 0;
     padding: 0;
 }

 .wrapper {
    /*max-width: 115rem;*/
    display: block;
    margin: 0 auto;
    max-width: 90rem;
    background-color: #ffffff;
}

.container {
    padding: 0;
}

.site-header {
    text-align: center;
}

.navbar {
    display: block;
}

.nav-item {
    display: inline-block;
    padding: 1rem;
}

.post-nav {
    text-align: center;
    padding: 1rem;
}

.post-title {
    display: block;
    text-align: center;
}

.post {
    padding-left: 1rem;
    padding-right: 1rem;
}

.post-content p img {
    float: right;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/**
 * override column size for mobile
 */
@media (max-width: 40.0rem) {
    .row .column.column-33, .row .column.column-34, .row .column.column-25 {
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: center;
    }
    .preview-panel {
        text-align: center;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    margin: 2rem 1rem;
    padding: 2rem 0;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

/**
 * Misc
 */
.preview-panel {
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid $color-initial;
    
    &:hover {
        border: 1px solid $grey-color-light;
    }
}
