/**
 * Site header
 */

 body {
     /*background-color: #CCCCCC;*/
     background: url(/img/background2.jpg) no-repeat fixed;
     background-size: 100%; 
     margin: 0;
     padding: 0;
 }

 .wrapper {
    /*max-width: 115rem;*/
    display: block;
    margin: 0 auto;
    max-width: 90rem;
    background-color: #ffffff;
}

ul {
    padding-bottom: 0;
    margin-bottom: 0;
}

img[src*="#thumbnail"] {
    max-height:200px;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
 }

.container, .footer-container {
    padding: 0;
}

.site-header {
    text-align: center;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: block;
    width: 100%;
    margin-left: 23rem;
}

.search-person{
    align-content: flex-end;
    margin-right: 2rem;
}

.search-field {
    padding: 0;
    width: 200px;
    height: 24px;
}

.nav-item {
    display: inline-block;
    padding: 1rem;
}

.post-nav {
    text-align: center;
    padding: 0 1rem 1rem 1rem;
}

.post-nav > .nav-item {
    padding-top: 0;
}

.post-title {
    display: block;
    text-align: center;
}

.post {
    padding-left: 1rem;
    padding-right: 1rem;
}

.post-p img {
    float: right;
    max-width: 40%;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.preview-panel a {
    text-decoration: none;
    color: #606c76;
}

/**
 * override column size for mobile
 */
@media (max-width: 30.0rem) {
    .row .column.column-33, .row .column.column-34, .row .column.column-25 {
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: center;
    }
    .preview-panel {
        text-align: center;
    }
    .post-p img {
        float: none;
        max-width: 100%;
        margin: 0;
    }
    .post-p {
        text-align: center;
        max-width: 100%;
    }
    .nav-bar {
        flex-direction: column;
        justify-content: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .navbar{
        margin-left: 0;
    }
    .search-person{
        margin: 0;
        width: 100%;
        align-content: center;
    }
    .search-field{
        width: 100%;
    }
}

/**
 * Site footer
 */
.site-footer {
    clear: both;
    border-top: 1px solid $grey-color-light;
    margin: 2rem 1rem;
    padding: 2rem 0;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

/**
 * Misc
 */
.preview-panel {
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid $color-initial;
    
    &:hover {
        border: 1px solid $grey-color-light;
    }
}
